div {
    border: 1px solid black;
}

img {
    margin: 10px;
}

.image2 {
    /* position: relative;
    top: 100px;
    left: 200px; */

    /* position: absolute;
    top: 125px; */
}

.image4 {
    position: fixed;
    
}

.image3 {
    position: sticky;
    top: 100px;
}

.container {
    position: relative;
    height: 8000px;
    width: auto;
    background-color: lightblue;
}

.box {
    background-color: lightcoral;
    height: 5000px;
    width: auto;
}