* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow: none none; /*x-axis y-axis*/
    background-color: beige;
}

.navContainer {
    width: 100vw;
}

#navList {
    list-style-type: none;
}