.container {
    background-color: beige;
    border: 5px solid black;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-flow: column; */
    height: 800px;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center;
    align-items: start;
    align-items: end;
    align-items: stretch;  */
    justify-content: start;
    align-items: start;
    align-content: start;
}

.box {
    background-color: white;
    height: 200px;
    width: 200px;
    border: 2px solid brown;
    margin: 2px;
    padding: 2px;
    /* flex-grow: 1; */
}